%h1 Search Offers

= form_tag search_path, class: "form-horizontal" do
  .control-group
    = label_tag :uid, nil, class: "control-label"
    .controls
      = text_field_tag :uid

  .control-group
    = label_tag :pub0, nil, class: "control-label"
    .controls
      = text_field_tag :pub0

  .control-group
    = label_tag :page, nil, class: "control-label"
    .controls
      = text_field_tag :page

  .form-actions
    = submit_tag "Search", class: "btn btn-primary"
